<div class='container'>

	<div class='jumbotron text-center'>
	Welcome to web scraping
	<div>
		<button type="button" class='btn btn-danger col-offset-2' id='scrape'> Scrape Articles </button>
		<button type="button" class='btn btn-warning col-offset-2' id='saved'> Saved Articles </button>
	</div>

</div>
