
<div class='container'>

	<div class='jumbotron text-center'>
		Welcome to web scraping
		<div>
			<form method='get' action='/scrape' > 
				<button class='btn btn-danger col-offset-2' type='submit' value='Submit' id='scrape'> Scrape Articles </button>
			</form>
			<form method='get' action='/savedArticles'>
			<button class='btn btn-warning col-offset-2'  type='submit' value='Submit' id='saved'> Saved Articles </button>
			</form>
		</div>

	</div>





	{{#each articles}}
	<div class='row'>
		
		<div id='article'>
		
			<a href="{{this.link}}">{{this.title}}</a>
		{{#unless this.saved}}
			<button type="button" data-id= {{this._id}} class="col-md-2-offset-6 btn btn-success save">Save Article</button>	
		{{/unless}}
		</div>
		
		
	</div>
	{{/each}}

	
</div>

