
<div class='container'>

	<div class='jumbotron text-center'>
		Welcome to web scraping
		<div>
			<button type="button" class='btn btn-danger col-offset-2' id='scrape'> Scrape Articles </button>
			<button type="button" class='btn btn-warning col-offset-2' id='saved'> Saved Articles </button>
		</div>

	</div>





	{{#each articles}}
	<div class='row'>
		
		<div id='article'>
			<a href="{{this.link}}">{{this.title}}</a>
			<button type="button" data-id= {{this._id}} class="col-md-2-offset-6 btn btn-success save">Save Article</button>	
		</div>
		
		
	</div>
	{{/each}}

	
</div>

